#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex_center {
  justify-content: space-around;
  display: flex;
  padding: 0;
  gap: 55px;
}

li {
  list-style: none !important;
}

.disabled a {
  background-color: #808080;
  border: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0
}

svg {
  fill: var(--pico-color);
}

.clickable {
  cursor: pointer;
}